# Visual Studio lixo e temporários
.vs/
out/
build/
bin/
obj/
*.sln
*.user
*.suo

# CMake temporários
CMakeSettings.json
CMakeFiles/
CMakeCache.txt

# Compilação
*.exe
*.pdb
*.ilk

# Documentacao gerada
docs/generated/
docs/doxygen-warnings.log
